
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Live Punch Monitor</title>
    <meta http-equiv="refresh" content="5">

    <link rel="stylesheet" href="{% static 'attendance/style.css' %}">
</head>
<body>

<div class="container wide">
    <h1>Live Punch Monitor</h1>
    <p class="subtitle">Admin-only page. Refreshes every 5 seconds.</p>

    <h2>Currently Punched IN</h2>

    <table>
        <tr>
            <th>Person in charge</th>
            <th>Username</th>
            <th>Punched In At</th>
        </tr>

        {% for punch in employees_in %}
        <tr>
            <td>{{ punch.full_name }}</td>
            <td>{{ punch.employee.username }}</td>
            <td>{{ punch.timestamp }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No Participant are currently punched in.</td>
        </tr>
        {% endfor %}
    </table>

    <h2>Latest Punches</h2>

    <table>
        <tr>
            <th>Person in charge</th>
            <th>Participant</th>
            <th>Type</th>
            <th>Time</th>
        </tr>

        {% for punch in punches %}
        <tr>
            <td>{{ punch.full_name }}</td>
            <td>{{ punch.employee.username }}</td>
		    <td>{{ punch.punch_type }}</td>
            <td>{{ punch.timestamp }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">No punches yet.</td>
        </tr>
        {% endfor %}
    </table>

    <div class="links">
        <a href="/">Punch Page</a>
        <a href="/reports/">Reports</a>
        <a href="/admin/">Admin</a>
    </div>
</div>

</body>
</html>
