<!DOCTYPE html>
<html>
<head>
    <title>Welcome to UAGM Preengineering experience</title>
</head>
<body>






<form method="post">
<table align="center" border=0>
<tr>
<td align="center">
{% if message %}
<h3>{{ message }}</h3>
{% endif %}
<h1>UAGM Preengineering - Attendance Punch</h1>
</td>
</tr>

<tr>
<td>
    {% csrf_token %}

    <input type="text" name="username" placeholder="Username" required>
   </td>
   </tr>
   <tr>
   <td>
    <input type="password" name="pin" placeholder="PIN" required>
	</td>
	</tr>
	<tr>
	<td>
    <button type="submit">Punch</button>
	</td>
	</tr>
	<table>
</form>
<table>

{% if employee_punches %}
    <hr>
    <h2>Recent Punches for {{ employee_name }}</h2>

    <table border="1">
        <tr>
            <th>Type</th>
            <th>Date / Time</th>
        </tr>

        {% for punch in employee_punches %}
        <tr>
            <td>{{ punch.punch_type }}</td>
            <td>{{ punch.timestamp }}</td>
        </tr>
        {% endfor %}
    </table>
{% endif %}

<br>
<a href="/reports/">Full Reports</a>

</body>
</html>